pkgbase = awwan-git
	pkgdesc = Configuration management software, infrastructure as file and directory layout.
	pkgver = 0.11.0.r2.g5e4e1d7
	pkgrel = 1
	url = https://awwan.org
	arch = any
	license = GPL3
	makedepends = go
	makedepends = git
	provides = awwan
	source = awwan-git::git+https://git.sr.ht/~shulhan/awwan
	source = wui::git+https://git.sr.ht/~shulhan/wui
	md5sums = SKIP
	md5sums = SKIP

pkgname = awwan-git
