*.lck
*.log
/CHANGELOG.html
/README.html
/_AUR/*.tar.zst
/_AUR/awwan-git
/_AUR/pkg
/_AUR/src
/_AUR/wui
/_doc/*.html
/_example/.cache
/_mkosi/awwan-test
/_mkosi/awwan-test.nspawn
/_mkosi/image
/_mkosi/image.raw
/_mkosi/mkosi.builddir/
/_mkosi/mkosi.cache/
/_wui/doc/*.html
/awwan
/awwan.test
/cover.html
/cover.txt
/release.txt
/testdata/decrypt-with-passphrase/.awwan.env
/testdata/encrypt-with-passfile/plain.txt.vault
/testdata/encrypt-with-passphrase/.awwan.env.vault
/testdata/encrypt-without-passphrase/.awwan.env.vault
/testdata/local/.cache
/testdata/local/put_with_mode.txt
/testdata/play/.cache/
/www-awwan
