/CHANGELOG.html
/README.html
/_AUR/*.tar.zst
/_AUR/awwan-git
/_AUR/pkg
/_AUR/src
/_AUR/wui
/_bin
/_doc/*.html
/_example/.cache
/_www/doc/*.html
/awwan
/cover.html
/cover.out
/testdata/decrypt-with-passphrase/.awwan.env
/testdata/encrypt-with-passphrase/.awwan.env.vault
/testdata/encrypt-without-passphrase/.awwan.env.vault
/testdata/local/.cache
