<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#375EAB" />
    <title>{{.Title}}</title>
    <link href="/index.css" rel="stylesheet" type="text/css" media="all" />
  </head>

  <body>
    <img
      class="background"
      src="/maple-leaf-transparent-540.png"
    />

    <div class="topbar">
      <div class="topbar-left">
        <div>
          <a href="/">awwan</a>
        </div>
      </div>

      <div class="topbar-right">
		<img class="awwan-logo" src="/favicon.ico"></img>
        <a href="https://git.sr.ht/~shulhan/awwan" target="_blank"> Repository </a>
		<img class="awwan-logo" src="/favicon.ico"></img>
        <a href="https://lists.sr.ht/~shulhan/awwan" target="_blank"> Mailing list </a>
		<img class="awwan-logo" src="/favicon.ico"></img>
        <a href="https://todo.sr.ht/~shulhan/awwan" target="_blank"> Issues </a>
      </div>
    </div>

    <div class="page">
      <div class="container">{{.Body}}</div>
      <!-- .container -->
    </div>

    <div class="footer">
      <div>
        Copyright 2023, Shulhan &lt;ms@kilabit.info&gt;. All rights
        reserved.
      </div>
      <div>
        Powered by
        <a href="https://sr.ht/~shulhan/ciigo" target="_blank">ciigo</a>
      </div>
    </div>
  </body>
</html>
